# Ignore SQLite database files
*.db
*.db-shm
*.db-wal
*.zip

inputs/
__pycache__/
*.py[cod]
.venv/
.idea/

# Ignore all files inside any checkpoints directory
checkpoints/**

# Ignore all directories inside .dataset
.dataset/*/

# (Optional) Ignore everything inside .dataset
# .dataset/**
